<div id="modal">
    <h2 class="text-xl text-content1">Edit Phase</h2>
    <br>
    <form class="form-group" hx-post="{% url 'manager:edit_phase' project.code phase.code %}"
          hx-target="#phase-{{ phase.code }}" hx-swap="outerHTML"
          _="on htmx:afterRequest set #modal-edit.checked to false wait 200ms then remove #modal">
        {% csrf_token %}
        <div class="form-field">
            <label for="code" class="form-label">Code:</label>
            <input id="code" name="code" class="input-block input" value="{{ phase.code }}" disabled/>
        </div>
        <div class="form-field">
            <label for="nom" class="form-label">Name:</label>
            <input id="nom" name="nom" class="input-block input" value="{{ phase.nom }}"/>
        </div>
        <div class="form-field">
            <label for="description" class="form-label">Description:</label>
            <input id="description" name="description" class="input-block input" value="{{ phase.description }}"/>
        </div>
        <div class="form-field">
            <label for="start_date" class="form-label">Start Date:</label>
            <input type="date" name="start_date" id="start_date" class="input-block input"
                   value="{{ phase.start_date | date:"Y-m-d" }}"/>
        </div>
        <div class="form-field">
            <label for="end_date" class="form-label">End Date:</label>
            <input type="date" name="end_date" id="end_date" class="input-block input"
                   value="{{ phase.end_date | date:"Y-m-d" }}"/>
        </div>
        <div class="form-field">
            <label for="percentage" class="form-label">Percentage:</label>
            <input type="number" name="percentage" id="percentage" class="input-block input" value="{{ phase.percentage }}"/>
        </div>
        <div class="form-field">
            <label for="team">Team:</label>
            <select name="team" id="team" class="input input-block h-auto" multiple>
                {% for member in members %}
                    <option value="{{ member.username }}"{% if member.username in team %}
                            selected{% endif %}>{{ member.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-field">
            <label for="finished" class="form-label">Finished:</label>
            <input type="checkbox" name="finished" id="finished" class="checkbox"
                   {% if phase.finished %}checked{% endif %}/>
        </div>
        {% include 'core/modal_buttons.html' %}
    </form>
</div>
