<div id="modal" class="uk-modal" style="display:block;">
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">New Phase</h2>
        <br>
        
        <form hx-post="{% url 'manager:new_phase' project.code %}" hx-target="table" hx-swap="beforeend" _="on htmx:afterRequest take .uk-open from #modal wait 200ms then remove #modal">
            {% csrf_token %}
            <div class="uk-margin">
                <label for="code">Code:</label>
                <input id="code" name="code" class="uk-input"/>
            </div>
            <div class="uk-margin">
                <label for="nom">Name:</label>
                <input id="nom" name="nom" class="uk-input"/>
            </div>
            <div class="uk-margin">
                <label for="description">Description:</label>
                <input id="description" name="description" class="uk-input"/>
            </div>
            <div class="uk-margin">
                <label for="start_date">Start Date:</label>
                <input type="date" name="start_date" id="start_date" class="uk-input"/>
            </div>
            <div class="uk-margin">
                <label for="end_date">End Date:</label>
                <input type="date" name="end_date" id="end_date" class="uk-input"/>
            </div>
            <div class="uk-margin">
                <label for="percentage">Percentage:</label>
                <input type="number" name="percentage" id="percentage" class="uk-input"/>
            </div>
            <div class="uk-margin">
                <label for="team">Team:</label>
                <select name="team" id="team" class="uk-select" multiple>
                    {% for member in members %}
                        <option value="{{ member.username }}">{{ member.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="uk-button uk-button-primary bg-[#1e87f0]">Save Changes</button>
            <button
                    id="cancelButton"
                    type="button"
                    class="uk-button uk-button-default"
                    _="on click take .uk-open from #modal wait 200ms then remove #modal">Close</button>
        </form>
    </div>
</div>