<section class="menu-section px-4">
    <span class="menu-title">Secretary</span>
    <ul class="menu-items">
        {% url 'secretary:projects' as secretary_projects %}
        {% url 'secretary:clients' as secretary_clients %}
        {% include 'core/sidebars/line.html' with name='Projects' url=secretary_projects icon='gears' active='/secretary/projects/' %}
        {% include 'core/sidebars/line.html' with name='Clients' url=secretary_clients icon='compass' active='/secretary/clients/' %}
    </ul>
</section>