<div id="modal">
    <h2 class="text-xl text-content1">Edit Project</h2>
    <br>
    <form class="form-group" hx-post="{% url 'director:edit_project' project.code %}"
          hx-target="#project-{{ project.code }}" hx-swap="outerHTML"
          _="on htmx:afterRequest set #modal-edit.checked to false wait 200ms then remove #modal">
        {% csrf_token %}
        <div class="form-field">
            <label for="code" class="form-label">Code:</label>
            <input id="code" name="code" class="input-block input" value="{{ project.code }}" disabled/>
        </div>
        <div class="form-field">
            <label for="nom" class="form-label">Name:</label>
            <input id="nom" name="nom" class="input-block input" value="{{ project.nom }}"/>
        </div>
        <div class="form-field">
            <label for="description" class="form-label">Description:</label>
            <input id="description" name="description" class="input-block input" value="{{ project.description }}"/>
        </div>
        <div class="form-field">
            <label for="client" class="form-label">Client:</label>
            <select name="client" id="client" class="input-block input">
                {% for organisation in organisations %}
                    <option value="{{ organisation.code }}"{% if organisation.code == project.client.code %}
                            selected{% endif %}>{{ organisation.code }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-field">
            <label for="start_date" class="form-label">Start Date:</label>
            <input type="date" name="start_date" id="start_date" class="input-block input"
                   value="{{ project.start_date | date:"Y-m-d" }}"/>
        </div>
        <div class="form-field">
            <label for="end_date" class="form-label">End Date:</label>
            <input type="date" name="end_date" id="end_date" class="input-block input"
                   value="{{ project.end_date | date:"Y-m-d" }}"/>
        </div>
        <div class="form-field">
            <label for="budget" class="form-label">Budget:</label>
            <input type="number" name="budget" id="budget" class="input-block input" value="{{ project.budget }}"/>
        </div>
        <div class="form-field">
            <label for="chief" class="form-label">Chief:</label>
            <select name="chief" id="chief" class="select select-block">
                {% for chief in chiefs %}
                    <option value="{{ chief.username }}"{% if chief.username == project.chief.username %}
                            selected{% endif %}>{{ chief.username }}</option>
                {% endfor %}
            </select>
        </div>
        {% include 'core/modal_buttons.html' %}
    </form>
</div>
