<div id="modal">
    <h2 class="text-xl text-content1">Edit Client</h2>
    <br>
    <form class="form-group"
          hx-post="{% url 'secretary:edit_client' client.code %}" hx-target="#client-{{ client.code }}"
          hx-swap="outerHTML"
          _="on htmx:afterRequest set #modal-edit.checked to false wait 200ms then remove #modal">
        {% csrf_token %}
        <div class="form-field">
            <label for="code" class="form-label">Code:</label>
            <input id="code" name="code" class="input-block input" value="{{ client.code }}"/>
        </div>
        <div class="form-field">
            <label for="nom" class="form-label">Name:</label>
            <input id="nom" name="nom" class="input-block input" value="{{ client.nom }}"/>
        </div>
        <div class="form-field">
            <label for="address" class="form-label">Address:</label>
            <input id="address" name="address" class="input-block input" value="{{ client.address }}"/>
        </div>
        <div class="form-field">
            <label for="telephone" class="form-label">Telephone:</label>
            <input id="telephone" name="telephone" class="input-block input" value="{{ client.telephone }}"/>
        </div>
        <div class="form-field">
            <label for="contact_name" class="form-label">Contact Name:</label>
            <input id="contact_name" name="contact_name" class="input-block input" value="{{ client.contact_name }}"/>
        </div>
        <div class="form-field">
            <label for="contact_email" class="form-label">Contact Email:</label>
            <input id="contact_email" name="contact_email" class="input-block input"
                   value="{{ client.contact_email }}"/>
        </div>
        <div class="form-field">
            <label for="website" class="form-label">Website:</label>
            <input id="website" name="website" class="input-block input" value="{{ client.website }}"/>
        </div>
        {% include 'core/modal_buttons.html' %}
    </form>
</div>