<div id="modal">
    <h2 class="text-xl text-content1">New Project</h2>
    <br>
    <form class="form-group"
          hx-post="{% url 'secretary:new_project' %}" hx-target="#table-body" hx-swap="beforeend"
          _="on htmx:afterRequest set #modal-edit.checked to false wait 200ms then remove #modal">
        {% csrf_token %}
        <div class="form-field">
            <label for="code" class="form-label">Code:</label>
            <input id="code" name="code" class="input-block input"/>
        </div>
        <div class="uk-margin">
            <label for="nom" class="form-label">Name:</label>
            <input id="nom" name="nom" class="input-block input"/>
        </div>
        <div class="uk-margin">
            <label for="description" class="form-label">Description:</label>
            <input id="description" name="description" class="input-block input"/>
        </div>
        <div class="uk-margin">
            <label for="client" class="form-label">Client:</label>
            <select name="client" id="client" class="select select-block">
                {% for organisation in organisations %}
                    <option value="{{ organisation.code }}"{% if organisation.code == project.client.code %}
                            selected{% endif %}>{{ organisation.code }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="uk-margin">
            <label for="start_date" class="form-label">Start Date:</label>
            <input type="date" name="start_date" id="start_date" class="input-block input"/>
        </div>
        <div class="uk-margin">
            <label for="end_date" class="form-label">End Date:</label>
            <input type="date" name="end_date" id="end_date" class="input-block input"/>
        </div>
        {% include 'core/modal_buttons.html' %}
    </form>
</div>