{% extends 'core/base.html' %}

{% block title %}Projects{% endblock %}

{% block sidebar %}
    {% include 'secretary/sidebar.html' %}
{% endblock %}

{% block content %}
    <table class="uk-table" id="table">
        <caption></caption>
        <thead>
        <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Description</th>
            <th><button
                    hx-get="{% url 'secretary:new_project' %}"
                    hx-target="#modals-here"
                    class="uk-button uk-button-primary"
                    _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">New</button></th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        	{% include 'secretary/project_row.html' %}
        {% endfor %}

        </tbody>
    </table>
{% endblock %}