{% extends 'core/base.html' %}

{% block title %}403{% endblock %}
{% block content %}
    <main class="flex justify-center max-w-screen-md mx-auto my-0.5 p-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-header text-content1">403</h2>
                <p class="text-content2">You do not have permission to access this page</p>
                <div class="card-footer">
                    <a href="/" class="link btn-secondary btn">
                        <svg class="align-bottom mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M19 12H6M12 5l-7 7 7 7"></path>
                        </svg>Take me home</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}